{
  "tabWidth": 2,
  "useTabs": false,
  "singleQuote": true,
  "jsxSingleQuote": true,

  "importOrder": [
    "<THIRD_PARTY_MODULES>",

    "^@/app/(.*)$",
    "^@/components/(.*)$",
    "^@/features/(.*)$",
    "^@/store/(.*)$",
    "^@/shared/(.*)$",
    "^@/lib/(.*)$",
    "^@/hooks/(.*)$",
    "^@/types/(.*)$",

    "^../(.*)$",
    "^./(.*)$"
  ],

  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,

  "plugins": ["@trivago/prettier-plugin-sort-imports"]
}
