.container {
  width: 100%;
  margin-inline: auto;
}

@media (width >= 1701px) {
  .container {
    max-width: var(--container-xxl);
  }
}

@media (width <= 1700px) {
  .container {
    max-width: 100%;
    padding-inline: var(--container-padding-xl);
  }
}

@media (width >= 1249px) and (width <= 1280px) {
  .container {
    max-width: var(--container-xl);
    padding-inline: 0;
  }
}

@media (width <= 1248px) {
  .container {
    max-width: 100%;
    padding-inline: var(--container-padding-md);
  }
}

@media (width >= 733px) and (width <= 768px) {
  .container {
    max-width: var(--container-md);
    padding-inline: 0;
  }
}

@media (width <= 732px) {
  .container {
    max-width: 100%;
    padding-inline: var(--container-padding-sm);
  }
}

@media (width <= 375px) {
  .container {
    max-width: var(--container-sm);
    padding-inline: 0;
  }
}
