.container {
  width: 100%;
  max-width: var(--container-xxl);
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: calc(var(--bp-xl) - 1px)) {
  .container {
    max-width: var(--container-xl);
  }
}

@media (max-width: calc(var(--bp-md) - 1px)) {
  .container {
    max-width: var(--container-md);
  }
}

@media (max-width: calc(var(--bp-sm) - 1px)) {
  .container {
    max-width: var(--container-sm);
  }
}
