.news {
  padding: 12.5rem 0;

  .header {
    margin-bottom: 6rem;

    .title {
      font-size: var(--font-size-46);
      font-weight: var(--font-weight-semibold);
      color: var(--color-primary-900);
      line-height: 1.26;
    }
  }

  .slider-wrapper {
    position: relative;
    margin-bottom: 6rem;

    .slider {
      overflow: hidden;

      .slide {
        width: 40rem;
        height: auto;
        flex-shrink: 0;

        .card {
          display: flex;
          flex-direction: column;
          width: 100%;

          .image-wrapper {
            position: relative;
            width: 40rem;
            height: 47rem;
            overflow: hidden;
            margin-bottom: 4rem;

            .image {
              width: 100%;
              height: 100%;
              object-fit: cover;
              display: block;
              border-radius: 1rem;
            }

            .category-button {
              position: absolute;
              height: 3.6rem;
              width: 9rem;
              border-radius: 3rem;
              top: 6rem;
              left: 50%;
              transform: translateX(-50%);

              background-color: var(--color-neutral-100);

              font-size: var(--font-size-14);
              font-weight: var(--font-weight-medium);
              color: #3a3429;

              transition: background-color 0.3s ease;

              &:hover {
                background-color: var(--color-neutral-200);
              }
            }
          }

          .content {
            display: flex;
            flex-direction: column;

            .date {
              font-size: var(--font-size-14);
              font-weight: var(--font-weight-semibold);
              color: var(--color-primary-500);
              margin-bottom: 2rem;
              line-height: 1.7;
            }

            .card-title {
              font-size: var(--font-size-20);
              font-weight: var(--font-weight-semibold);
              color: var(--color-primary-900);
              line-height: 1.4;
              margin-bottom: 1.4rem;
            }

            .excerpt {
              font-size: var(--font-size-16);
              font-weight: var(--font-weight-regular);
              color: var(--color-text-body-muted);
              line-height: 1.7;

              display: -webkit-box;
              line-clamp: 2;
              overflow: hidden;
              text-overflow: ellipsis;
            }
          }
        }
      }
    }

    .scroll-button {
      position: absolute;
      top: 23.5rem;
      right: 0;
      transform: translate(50%, -50%);
      z-index: 10;

      width: 6.4rem;
      height: 6.4rem;

      background: none;
      border: none;
      cursor: pointer;
      padding: 0;

      transition: opacity 0.3s ease;

      img {
        width: 100%;
        height: 100%;
        display: block;
      }

      &:hover {
        opacity: 0.9;
      }
    }
  }

  .footer {
    display: flex;
    justify-content: center;
    margin-top: 7rem;

    > .all-news-button {
      height: 6rem;
      width: 20rem;

      background-color: var(--color-primary-700);
      border: none;
      border-radius: 5.2rem;
      cursor: pointer;

      font-size: var(--font-size-14);
      font-weight: var(--font-weight-bold);
      color: var(--color-neutral-100);
      line-height: 1.5;

      transition: background-color 0.3s ease;

      .count {
        color: var(--color-primary-400);
      }

      &:hover {
        background-color: var(--color-btn-primary-hover);
      }
    }
  }
}

@media (max-width: 1700px) {
  .news {
    padding: 7rem 0;

    .header {
      margin-bottom: 5rem;

      .title {
        font-size: var(--font-size-40);
      }
    }

    .slider-wrapper {
      margin-bottom: 5rem;

      .slider {
        .slide {
          width: 29.4rem;

          .card {
            .image-wrapper {
              width: 29.4rem;
              height: 40rem;
              margin-bottom: 3rem;

              .category-button {
                top: 5rem;
              }
            }

            .content {
              .date {
                margin-bottom: 1rem;
              }

              .card-title {
                font-size: var(--font-size-17);
                margin-bottom: 1rem;
              }

              .excerpt {
                font-size: var(--font-size-15);
              }
            }
          }
        }
      }

      .scroll-button {
        top: 20rem;
        right: 0;
        transform: translate(50%, -50%);
      }
    }

    .footer {
      margin-top: 4rem;
    }
  }
}

@media (max-width: 1279px) {
  .news {
    padding: 6rem 0;

    .header {
      margin-bottom: 6rem;

      .title {
        font-size: var(--font-size-36);
      }
    }

    .slider-wrapper {
      margin-bottom: 4rem;

      .slider {
        .slide {
          .card {
            .image-wrapper {
              margin-bottom: 3rem;

              .category-button {
                top: 5rem;
              }
            }

            .content {
              .date {
                margin-bottom: 1rem;
              }

              .card-title {
                font-size: var(--font-size-16);
                margin-bottom: 1rem;
              }

              .excerpt {
                font-size: var(--font-size-14);
              }
            }
          }
        }
      }

      .scroll-button {
        display: none;
      }
    }

    .footer {
      margin-top: 4rem;
    }
  }
}

@media (max-width: 767px) {
  .news {
    padding: 7rem 0;

    .header {
      margin-bottom: 6rem;

      .title {
        font-size: var(--font-size-28);
      }
    }

    .slider-wrapper {
      margin-bottom: 4rem;

      .slider {
        .slide {
          width: 25.7rem;

          .card {
            .image-wrapper {
              width: 25.7rem;
              height: 35.4rem;
              margin-bottom: 2.8rem;

              .category-button {
                top: 5rem;
              }
            }

            .content {
              .date {
                font-size: var(--font-size-13);
                margin-bottom: 1rem;
              }

              .card-title {
                font-size: var(--font-size-16);
                margin-bottom: 1rem;
              }

              .excerpt {
                font-size: var(--font-size-14);
              }
            }
          }
        }
      }

      .scroll-button {
        display: none;
      }
    }

    .footer {
      margin-top: 4rem;

      > .all-news-button {
        font-size: var(--font-size-13);
      }
    }
  }
}
